<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">

<title>Knowledge Pixels</title>

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../_common/reveal-4.4.0/dist/reset.css">
<link rel="stylesheet" href="../_common/reveal-4.4.0/dist/reveal.css">
<link rel="stylesheet" href="kpxl.css" id="theme">
</head>

<body>
<div class="reveal">
<div class="slides">

<section>
<img src="https://knowledgepixels.com/assets/img/knowledge-pixels-logo-rgb.svg" alt="Knowledge Pixels logo" style="height: 180px; margin: 0 auto 4rem auto; background: transparent;" class="demo-logo">
<h3>Slide Template</h3>
<p>
<small>Based on <a href="https://github.com/hakimel/reveal.js">reveal.js</a></small>
</p>
</section>

<section>
<h2>HTML Slide</h2>
<p>Text</p>
</section>

<section data-markdown>
## Markdown Slide

Text:

- a
- b
</section>

<section>
<h2>two-column slide</h2>
<div class="container">
<div class="col">
<h4>Column 1</h4>
</div>
<div class="col">
<h4>Column 2</h4>
</div>
</div>
</section>

</div>
</div>

<script src="../_common/reveal-4.4.0/dist/reveal.js"></script>
<script src="../_common/reveal-4.4.0/plugin/markdown/markdown.js"></script>
<script>Reveal.initialize({ width: 800, height: 450, margin: 0.1, controls: true, progress: true, center: true, hash: true, plugins: [ RevealMarkdown ]	});</script>

</body>
</html>
